{
  "presets": [
    "es2015-loose",
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-decorators-legacy",
        "react-hot-loader/babel",
        "transform-runtime"
      ]
    },
    "test": {
      "plugins": [
        "./babel-plugin-remove-decorators",
        "transform-decorators-legacy",
        "react-hot-loader/babel",
        "transform-runtime",
        "istanbul"
      ]
    },
    "production": {
      "plugins": [
        "transform-decorators-legacy",
        "react-hot-loader/babel",
        "transform-runtime"
      ]
    }
  },
  "compact": true
}
