doctype html
html(dir=dir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title React webpack

    meta(name='application-name', content='FundRequest')
    meta(name='author', content='FundRequest, info@fundrequest.io')
    meta(name='description', content='FundRequest platform, easy funding of open source projects')
    meta(name='keywords', content='react, webpack, funding, open source')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    link(rel='shortcut icon', href='/favicons/jdk-favicon.ico')

    block header
  body(data-version='0.0.1')
    script(id='preloadedData', type='application/json')!=data
    block content
    block scripts
