<section id="about" class="section section--header">
    <div class="section__squares"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1>
                    A decentralized marketplace
                    for open source collaboration
                </h1>
                <div class="d-block d-md-none m-4">
                    <img src="assets/img/headerimg.png"
                         alt="A deventralized marketplace for open source collaboration">
                </div>
                <div class="description description--header">
                    <p>
                        FundRequest introduces an easy and secure way to reward bugfixes and feature builds on any project.
                    </p>
                    <p>
                        More than a monetization platform, FundRequest is a system for custom support that will boost the
                        Open Source community as a whole – from developer to end user.
                    </p>
                </div>
                <a class="btn btn-lg btn-warning btn-raised" href="https://profile.fundrequest.io">
                    Early sign up now open
                </a>
            </div>
            <div class="col-12 col-md-4 offset-md-1 d-none d-md-flex justify-content-center align-items-center">
                <img class="align-middle" src="assets/img/headerimg.png"
                     alt="A deventralized marketplace for open source collaboration">
            </div>
        </div>
        <a class="scrolltonext scrolltonext--header" href="#">
            <div class="scroller">
                <img src="assets/img/scroll2.png" alt="scroll image">
                <div>scroll</div>
            </div>
        </a>
    </div>
    <div class="triangle-bottom"></div>
</section>