<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="application-name" content="FundRequest">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | strip_html | strip_newlines }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="robots" content="index, follow">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/ykv4kmb.css">
    <link type="text/css" rel="stylesheet" href="assets/css/lightslider.css">
    <link type="text/css" rel="stylesheet" href="assets/css/jquery.irspinner.css">
    <link type="text/css" rel="stylesheet" href="assets/css/headroom.css">
    <link type="text/css" rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/core.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/general.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/website.min.css">
    <title>{{ page.title }} - FundRequest</title>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@fundrequest_io"/>
    <meta name="twitter:title" content="Boosting Open Source by rewarding contributions."/>
    <meta name="twitter:description" content="A decentralized marketplace for open source collaboration. FundRequest is a system for custom support that will boost the Open Source community as a whole – from developer to end user."/>
    <meta name="twitter:image" content="assets/img/og-image.png"/>
    <meta name="twitter:url" content="https://fundrequest.io"/>
    <meta property="og:title" content="Boosting Open Source by rewarding contributions."/>
    <meta property="og:site_name" content="FundRequest.io"/>
    <meta property="og:url" content="https://fundrequest.io"/>
    <meta property="og:description" content="A decentralized marketplace for open source collaboration. FundRequest is a system for custom support that will boost the Open Source community as a whole – from developer to end user."/>
    <meta property="og:image" content="assets/img/og-image.png"/>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicons/logo-single180.png">
    <link rel="icon" type="image/png" href="assets/favicons/logo-single32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicons/logo-single16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicons/manifest.json">
    <meta name="theme-color" content="#ffffff">
</head>