<section class="section section--compact section--partnership">
    <div class="container">
        <div class="row p-0">
            <div class="col-12 p-0">
                <h2 class="text-center">Partners</h2>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 partner-image">
                        <a href="https://lendroid.com/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/lendroid.png" alt="Lendroid">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4  partner-image">
                        <a href="https://request.network/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/R.png" alt="Request Network">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4  partner-image">
                        <a href="https://singularitynet.io/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/singularity.png" alt="SingulartiyNet">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4  partner-image">
                        <a href="https://dock.io/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/dockio.png" alt="Dock.io">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 partner-image">
                        <a href="https://remote.com/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/remote.png" alt="Remote.com">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2 text-center mb-4 partner-image">
                        <a href="https://indorse.io" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/partner-indorse.png" alt="indorse.io">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>