<section class="section section--compact section--partnership">
    <div class="container">
        <div class="row p-0">
            <div class="col-12 p-0">
                <h2 class="text-center">Partners</h2>
                <ul class="nav justify-content-center ">
                    <li class="partner-image">
                        <img src="assets/img/lendroid.png" alt="Lendroid">
                    </li>
                    <li class="partner-image">
                        <img src="assets/img/R.png" alt="Request Network">
                    </li>
                    <li class="partner-image">
                        <img src="assets/img/singularity.png" alt="SingulartiyNet">
                    </li>
                    <li class="partner-image">
                        <img src="assets/img/dockio.png" alt="Dock.io">
                    </li>
                    <li class="partner-image">
                        <img src="assets/img/remote.png" alt="Remote.com">
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>