<section id="partners" class="section section--compact">
    <div class="container">
        <div class="row p-0">
            <div class="col-12">
                <h2 class="section__title text-center">Partners</h2>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://lendroid.com/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/partner-lendroid.png" alt="Lendroid">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://request.network/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/partner-request.png" alt="Request Network">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://singularitynet.io/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/partner-singularityNet.png" alt="SingulartiyNet">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://dock.io/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/partner-dock.png" alt="Dock.io">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://remote.com/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/partner-remote.png" alt="Remote.com">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://indorse.io" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/partner-indorse.png" alt="indorse.io">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://trustwalletapp.com/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/partner-trust.png" alt="trustwalletapp.com">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>