<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/headroom.js"></script>
<script src="assets/js/lightslider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha256-uz0BcnPtSHZ02XZthAHPRYIoWWrcwMOmAk9ErnFQkNs=" crossorigin="anonymous"></script>
<script src="assets/js/jquery.irspinner.js"></script>
<script src="assets/js/typeform-newsletter.js"></script>
<script src="assets/js/script.js?v=1"></script>