<section id="supporters" class="section section--compact section--supporters section--light">
    <div class="triangle triangle--top"></div>
    <div class="container">
        <div class="row p-0">
            <div class="col-12 mb-5">
                <h2 class="section__title text-center">Supporters</h2>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://www.astronaut.capital/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/supporter-astronaut-capital-inverse.png" alt="Astronaut Capital">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <div class="partner-link">
                            <img src="assets/img/supporter-hayek-capital.png" alt="Hayek Capital">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://alphachain.com/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/supporter-alpha-chain.png" alt="Alpha Chain">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://1kx.network/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/supporter-1kx.png" alt="1kx">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="http://connect.capital/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/supporter-connect-capital.png" alt="Connect Capital">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="http://tetras.capital/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/supporter-tetras-capital.png" alt="Tetras Capital">
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 partner-image">
                        <a class="partner-link" href="https://www.zestads.com/" target="_blank" rel="nnoopener noreferrer">
                            <img src="assets/img/supporter-zest-ads.png" alt="ZestAds">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="scrolltonext scrolltonext--top" href="#" data-scroll-to="current"></a>
</section>