.home {

  .section {
    display: table;
    width: 100%;

    .content {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .introduction {
    height: 635px;
    width: 100%;

    h1 {
      font-size: 26px;
    }

    h3 {
      font-size: 16px;
    }
  }

  .steps {
    height: 450px;
    background-color: rgba(255,255,255,0.4);
  }

  .values {
    height: 750px;
    background-color: rgba(255,255,255,0.7);
  }

  .goals {
    height: 750px;
    background-color: rgba(255,255,255,0.4);
  }

  .team {
    height: 950px;
    background-color: #ffffff;
  }
}