<!DOCTYPE html>
<html class="ipc" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>Blockchain</title>
    <meta name="author" content="DUUN, support@duun.com">
    <meta name="description" content="React on blockchain">
    <meta name="keywords" content="react,modern,truffle,blockchain">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--<link rel="stylesheet" type="text/css" href="http://localhost:8079/assets/css/main.css">-->
    <script src='http://localhost:8079/assets/js/devServerClient.js'></script>
    <script src='http://localhost:8079/assets/js/main.js'></script>
</head>
<body data-version="0.0.1">
    <!--<script id="preloadedData" type="application/json"></script>-->
    <div id="app"><h3>Loading...</h3></div>
    <script src='http://localhost:8079/assets/js/plugins.js'></script>
    <script src='http://localhost:8079/assets/js/app.js'></script>
</body>
</html>
