/*page container*/
body {
	background-color: #fff !important;
}

/*Sections*/
.section--steps, .section--team { background-color: #f4f9fb; }

/* steps blok 3 */
.section--steps p.intro_sec3 { color: #545556; }
.section--steps h3 { margin: 0; color: #23a7e0; font-size: 30px; padding-bottom: 30px; font-weight: 700; }
.section--steps .stepsbg { position: absolute; bottom: 0; left: -185px; }

/* Roadmap  */

/* Team blok 5 */
