$footerLogoHeight: 24px;

.footer {
  width: 100%;
  background-color: rgba(255,255,255,0.4);
  padding-top : 40px;
  padding-bottom : 50px;

  .gr-container {
    max-width: 1140px;
  }

  .social-container {
    padding-top: 15px;

    a {
      color: $colorSecondary;
      text-decoration: inherit;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .footer-logo {
    height: $footerLogoHeight;
    vertical-align: middle;
    padding-bottom: 10px;
  }

  .copyright {
    color: #98999e;
    font-size: 14px;
    opacity: 0.8;
    vertical-align: middle;
  }

  .footer-section {

      .title {
      color: #696a6f;
      font-size: 13px;
      padding-bottom: 10px;
    }

      .content {
        a {
          color: #98999e;
          font-size: 13px;
          opacity: 0.8;
          cursor: pointer;
        }

        a:link {
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }

    }
  }

  h4 {
    color: $colorSecondarySoft;
    font-size: 16px;
    margin-bottom: 15px;
  }
}
