$headerHeight: 75px;
$headerPadding: 30px;
$headerLogoHeight: 24px;

.header {
  height: $headerHeight;
  line-height: $headerHeight;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid $colorPrimary;

  .gr-container {
    max-width: 1140px;
  }

  .header-logo {
    height: $headerLogoHeight;
    vertical-align: middle;
    margin-left: $headerPadding;
  }

  .navigation {
    text-align: right;
    margin-right: $headerPadding;

    .nav-item {
      color: $colorNavigationLinks;
      text-decoration: inherit;
      margin-right: 20px;
      cursor: pointer;
      display: inline-block;
    }

    .toggle-icon {
      display: none;
    }

    @media screen and (max-width: $maxTabletWidth) {
      .nav-item {
        display: none;
      }
      .toggle-icon {
        display: block;
        position: absolute;
        right: 25px;
        top: 30px;
        color: $colorSecondarySoft;
        cursor: pointer;
      }

      &.responsive-open {
        position: relative;
        margin-right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 2;
      }
      &.responsive-open .toggle-icon {
        position: absolute;
        right: 25px;
        top: 30px - $headerHeight;
      }
      &.responsive-open .nav-item {
        display: block;
        margin-right: 25px;
      }
    }

    @media screen and (max-width: $maxMobileWidth){
      .toggle-icon {
        top: 30px - $headerHeight;
      }
    }

  }

  @media screen and (max-width: $maxMobileWidth){
    .gr-12\@mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
