$goalWidth: 340px;

.home .goals {
  padding-bottom: 40px;
  background-color: rgba(255,255,255,0);

  .goal {
    width: $goalWidth;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 30px;

    .icon {
      color: $colorPrimary;
      margin-bottom: 15px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 15px;
    }

    p {
      line-height: 18px;
    }
  }
}