$colorHomeIntroductionTextLight: #707070;

.home .introduction {
  height: 635px;
  width: 100%;

  h1 {
    font-size: 26px;
  }

  h3 {
    font-size: 16px;
    color: $colorHomeIntroductionTextLight;
  }

  .already-joined {
    font-size: 14px;
    margin-right: 10px;
    color: $colorHomeIntroductionTextLight;
  }
  .sign-in-hyperlink {
    font-size: 14px;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $colorHomeIntroductionTextLight;
    }
  }
}