.home .slack {
  .slack-register {
    display: inline-block;
    text-decoration: none;
    background-color: #267DDD;
    color: white;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    margin: 0;
    height: 80px;
    padding: 0px 53px;
    border-radius: 13px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}