.home .team {
  height: 950px;
  background-color: #ffffff;

  .member {
    width: 400px;
    display: inline-block;
    margin-bottom: 30px;

    .avatar {
      width: 55%;
      border-radius: 50%;
    }

    .name {
      font-size: 22px;
      margin-top: 15px;
    }

    h4 {
      margin-bottom: 15px;
    }

    p {
      text-align: left;
      line-height: 18px;
    }
  }
}