.home .whatis {
  background-color: rgba(255,255,255,0.6);
  padding-bottom: 70px;

  .description {
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin: 0 1px;

    .circle {
      color: $colorSecondarySoft;
      margin: 0 3px;
    }
    .dashed-line {
      border-bottom: 2px dotted #aeafb4;
      width: 80px;
      display: inline-block;
      vertical-align: middle;
    }

    .title {
      color: $colorSecondarySoft;
    }
    .subtitle {
      color: #000000;
    }
  }
}